$black: #121212;
$black-95: mix($black, #fff, 95%);
$black-90: mix($black, #fff, 90%);
$black-80: mix($black, #fff, 80%);

$white: #fff;
$white-30: mix($white, #000, 30%);
$white-20: mix($white, #000, 20%);

$orange: #f7aa62;

$yellow: #f8be4d;
$yellow-70: mix($yellow, #fff, 70%);

$red: #f27f7d;

$teal: #70c1b3;

$blue: #247ba0;

