$black: #121212;

$white: #fff;
$white-30: mix($white, $black, 30%);
$white-20: mix($white, $black, 20%);

$orange: #f7aa62;

$yellow: #f8be4d;
$yellow-70: mix($yellow, $white, 70%);

$red: #f27f7d;

$teal: #70c1b3;

$blue: #247ba0;

$elevation-1: mix($black, $white, 95%);
$elevation-2: mix($black, $white, 92%);
$elevation-3: mix($black, $white, 89%);
$elevation-4: mix($black, $white, 86%);
$elevation-5: mix($black, $white, 83%);

$primary: $yellow;
$secondary: $teal;
